# Rust
target*/

# .NET / Visual Studio
**/[Bb]in/
**/[Oo]bj/
.vs/
*.user
*.suo

# Build & Runtime Logs
*.log

# Releases & Packages
ReleaseOutput/
ReleaseBundle/
ZipBundle/
*.zip

# Local Runtime Data & Downloads
chat_docs.md
*.ermiya
*.tmp
database.json
downloads/
installer.iss
docs/

# IDEs & OS
.vscode/
.idea/
Thumbs.db
desktop.ini
.DS_Store
